<div class="content">
    <div class="col-md-12">
      <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">
          <h5 class="title">Kirala</h5>
        </div>
          <div class="card-body text-success">
            <form [formGroup]="rentalAddForm">
                <div class="mb-3">
                    <div class="form-group">
                      <input
                        (click)="info()"
                        type="number"
                        id="carId"
                        formControlName="carId"
                        class="form-control"
                        placeholder="Araba Id Giriniz"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="form-group">
                      <input
                        type="number"
                        id="customerId"
                        formControlName="customerId"
                        class="form-control"
                        placeholder="Müşteri Id "
                      />
                    </div>
                  </div>
              <div class="mb-3">
                <label for="rentDate">Kira Başlangıç Tarihi Giriniz</label>
                <div class="form-group">
                  <input
                    type="date"
                    id="rentDate"
                    formControlName="rentDate"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="returnDate">Kira Bitiş Tarihi Giriniz</label>
                <div class="form-group">
                  <input
                    type="date"
                    id="returnDate"
                    formControlName="returnDate"
                    class="form-control"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button class="btn btn-outline-success" (click)="add()">Kirala</button>
          </div>
       
      </div>
    </div>
  </div>