<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
  <div class="mb-3">
    <label for="filterText" class="form-label"> </label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Renk Ara"
      (click)="removeCurrentColor()"
      aria-current="true"
    />
  </div>

  <li
    class="list-group-item list-group-item-action list-group-item-success"
    routerLink="/cars"
    [ngClass]="getAllColorClass()"
  >
    Filtreleri Sil
  </li>
  <li
    class="list-group-item list-group-item-action list-group-item-success"
    routerLink="/cars/color/{{ color.colorId }}"
    (click)="setCurrentColor(color)"
    *ngFor="let color of colors | colorFilterPipe: filterText"
    [ngClass]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul>
