<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table"></table>

<div class="p-3 bg-white" style="width: 280px;">
  <ul class="list-unstyled ps-0">
    <ul class="list-group">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Markalar
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="mb-3">
            <label for="filterText" class="form-label"></label>
            <input
              type="text"
              [(ngModel)]="filterText"
              class="form-control"
              id="filterText"
              placeholder="Marka ara"
            />
          </div>

          <li
          class="list-group-item list-group-item-action list-group-item-dark"
          [class]="getAllBrandClass()"
          routerLink="/cars"
        >
          Filtreleri Sil
        </li>

          <li
          class="list-group-item list-group-item-action list-group-item-dark"
          (click)="setCurrentBrand(brand)"
          routerLink="/cars/brand/{{ brand.brandId }}"
          *ngFor="let brand of brands | brandFilterPipe: filterText"
          [class]="getCurrentBrandClass(brand)"
        >
          {{ brand.brandName }}
        </li>

        </ul>
      </div>
    </li>
  </ul>
</ul>
</div>


<!-- <ul class="list-unstyled ps-0">
  <div class="mb-3">
    <label for="filterText" class="form-label"></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Marka ara"
    />
  </div>

  <li
    class="list-group-item list-group-item-action list-group-item-success"
    [class]="getAllBrandClass()"
    routerLink="/cars"
  >
    Filtreleri Sil
  </li>

  <li
    class="list-group-item list-group-item-action list-group-item-success"
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands | brandFilterPipe: filterText"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>  -->

<!-- 
  ts de değiştirilcek
<div class="form-row align-items-center" >
  <div class="col-md-12">
    <label class="mr-sm-2" for="inlineFormCustomSelect"> Markalar </label>
    <input
    [(ngModel)]="filterText"
    type="text"
    class="form-control"
    id="filterText"
    style="margin-bottom: 10px;"
    placeholder="Marka Ara"
  />
    <select class="custom-select custom-select-md mb-3" id="inlineFormCustomSelect" style="width: 250px;">
      <option
        (click)="setCurrentBrand(brand)"
        routerLink="/cars/brand/{{brand.brandId}}"
        *ngFor="let brand of brands | brandFilterPipe:filterText"
        [class]="getCurrentBrandClass(brand)"
      >
      {{ brand.branName }}
      </option>
      <option [class]="getCurrentBrandClass(brand)" routerLink="/cars"> Filtreleri sil </option>
    </select>
  </div>
</div> -->


