 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let image of carImages;let i = index" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div *ngFor="let image of carImages" [class]="getCurrentImageClass(image)">
          <img [src]="image.imagePath !==null ? imageBasePath+ image.imagePath : imageBasePath + defaultImg" class="d-block w-100" width="640" height="480"  alt="Image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Günlük Ücret</th>
            <th>Açıklama</th>
            <th>XXXXX </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{cars.brandName}}</td>
            <td>{{cars.colorName}}</td>
            <td>{{cars.modelYear}}</td>
            <td>{{cars.dailyPrice}}</td>
            <td>{{cars.description}}</td>
            <td><button type="button" class="btn btn-success">Rent</button></td>
    
        </tr>
    </tbody>
    <br>
<hr>
 <!--
<h3>Kiralama</h3>  
    <table *ngIf="dataLoaded==true" class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>Rental Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Company Name</th>
              <th>Rent Date</th>
              <th>Return Date</th>
          </tr>
      </thead>
</table>
-->