<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">
  
<img
[src]="
  cars.imagePath != null
    ? imageBasePath + cars.imagePath
    : imageBasePath + defaultImg
"
class="img-fluid"

/>
  <div class="card">
    <div class="card-body">

      <h5 class="card-title d-flex justify-content-center">
        {{ cars.brandName }}
      </h5>
      <hr />
      <h5 class="card-title d-flex justify-content-center">
        {{ cars.modelName | uppercase }}
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Kiralama Koşulları : </b> <br />
        Ehliyet <br />
        Kredi Kartı
      </li>
      <li class="list-group-item"> <b>Araç Özellikleri: </b> <br> {{ cars.description }}</li>
    </ul>
    <div class="card-footer">
      <section style="float: right">
          
        <button
          (click)="info()"
          type="button"
          style="position: -webkit-sticky"
          class="btn btn-outline-success"
          routerLink="rentals/add"
        >
          Kirala
        </button>
      </section>
    </div>
  </div>
</div>


