<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table
  *ngIf="dataLoaded == true"
  class="table table-striped table-hover table-bordered"
>
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model Adı</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Ücret</th>
      <th>Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ cars.brandName }}</td>
      <td>{{ cars.modelName }}</td>
      <td>{{ cars.colorName }}</td>
      <td>{{ cars.modelYear }}</td>
      <td>{{ cars.dailyPrice | currency: "TRY":"TL":"":"fr" }}</td>
      <td>{{ cars.description }}</td>
      <td>
        <section style="float: right">
          <app-payment></app-payment>
          <button
            (click)="addRent(cars)"
            type="button"
            style="position: -webkit-sticky"
            class="btn btn-outline-success"
          >
            Kirala
          </button>
        </section>
      </td>
    </tr>
  </tbody>
  <br />
</table>
