<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded==true" class="table"></table>
  <h5 class="title">Tüm Kullanıcılar</h5>
  <table class="table">
    <thead>
        <tr>
           <th>Id</th>
           <th>Müşteri Adı</th>
           <th>Müşteri Soyadı</th>
           <th>Müşteri Emaili</th>
        </tr>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    </tr>
  </table>