<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
  <div class="mb-3">
    <label for="filterText" class="form-label">Tüm Araçlar</label>
    <section style="float: right">
      <button
        type="button"
        style="position: -webkit-sticky"
        class="btn btn-outline-success"
        routerLink="cars/add"
      >
        Araç Ekle
      </button>

    </section>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Araç ara"
    />
  </div>
<ul *ngFor="let car of cars | carFilterPipe: filterText"
>
Id: {{car.id}}
 <li
    class="list-group-item list-group-item-action list-group-item-success"
  >
    {{ car.brandName }}
    <section style="float: right">
      <button
        type="button"
        style="position: -webkit-sticky"
        class="btn btn-outline-success"
        routerLink="cars/update"
      >
        Düzenle
      </button>

    </section>

  </li> 
</ul>
</ul>