
<div class="content">
    <div class="col-md-12">
      <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">
          <h5 class="title">Renk Güncelle</h5>
        </div>
          <div class="card-body text-success">
            <form [formGroup]="colorUpdateForm">
              <div class="mb-3">
                <div class="form-group">
                    <input
                      (click)="info()"
                      type="number"
                      id="colorId"
                      formControlName="colorId"
                      class="form-control"
                      placeholder="Color Id "
                    />
                  </div>
                <div class="form-group">
                  <input
                    type="text"
                    id="colorName"
                    formControlName="colorName"
                    class="form-control"
                    placeholder="Renk giriniz"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button class="btn btn-outline-success" (click)="update()">Güncelle</button>
          </div>
        
      </div>
    </div>
  </div>